<div class="flex min-h-screen flex-col bg-background-50 text-text-900">
  <main class="flex-1 bg-background-50 p-10 text-text-900">
    <div class="mx-auto max-w-4xl rounded-lg bg-background-100 p-8 shadow-lg">
      <h1 class="mb-8 text-center text-4xl font-bold">Profile</h1>

      <form (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <label for="fullName" class="block text-lg font-medium text-text-900"
            >Full Name</label
          >
          <input
            type="text"
            id="fullName"
            [(ngModel)]="profile.fullName"
            name="fullName"
            readonly
            class="focus:shadow-outline-primary block w-full appearance-none rounded-md border border-text-300 bg-background-50 px-3 py-2 text-text-900 placeholder-text-400 transition duration-150 ease-in-out focus:border-text-500 focus:outline-none sm:text-sm sm:leading-5"
          />
        </div>

        <div class="mb-6">
          <label for="email" class="block text-lg font-medium text-text-900"
            >Email</label
          >
          <input
            type="email"
            id="email"
            [(ngModel)]="profile.email"
            name="email"
            readonly
            class="focus:shadow-outline-primary block w-full appearance-none rounded-md border border-text-300 bg-background-50 px-3 py-2 text-text-900 placeholder-text-400 transition duration-150 ease-in-out focus:border-text-500 focus:outline-none sm:text-sm sm:leading-5"
          />
        </div>
        <div class="text-center">
          <button
            pButton
            type="submit"
            hidden
            label="Update Profile"
            icon="pi pi-save"
            class="rounded-lg bg-blue-500 px-6 py-3 font-semibold text-text-900 shadow-md transition duration-300 hover:bg-blue-600"
          ></button>
        </div>
      </form>
      <div class="mt-6 text-center">
        <button
          (click)="logout()"
          class="rounded-md bg-red-500 px-6 py-3 font-semibold text-text-900 shadow-md transition duration-300 hover:bg-red-600"
        >
          Logout
        </button>
      </div>
    </div>
  </main>
</div>
