<div class="min-h-screen flex flex-col bg-gray-900 text-gray-100">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <main class="flex-1 p-10 bg-gray-900 text-gray-100">
        <div class="max-w-4xl mx-auto bg-gray-800 p-8 rounded-lg shadow-lg">
            <h1 class="text-4xl font-bold mb-8 text-center">Profile</h1>

            <form (ngSubmit)="onSubmit()">
                <div class="mb-6">
                    <label for="fullName" class="block text-lg font-medium text-gray-300">Full Name</label>
                    <input pInputText type="text" id="fullName" [(ngModel)]="profile.fullName" name="fullName" readonly
                        class="mt-1 p-3 w-full bg-gray-700 text-gray-100 rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-blue-500">
                </div>

                <div class="mb-6">
                    <label for="email" class="block text-lg font-medium text-gray-300">Email</label>
                    <input pInputText type="email" id="email" [(ngModel)]="profile.email" name="email" readonly
                        class="mt-1 p-3 w-full bg-gray-700 text-gray-100 rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-blue-500">
                </div>
                <div class="text-center">
                    <button pButton type="submit" hidden label="Update Profile" icon="pi pi-save"
                        class="py-3 px-6 bg-blue-500 text-gray-100 font-semibold rounded-lg shadow-md hover:bg-blue-600 transition duration-300"></button>
                </div>
            </form>
            <div class="text-center mt-6">
                <button pButton type="button" (click)="logout()" label="Logout" icon="pi pi-sign-out"
                    class="py-3 px-6 bg-red-500 text-gray-100 font-semibold rounded-lg shadow-md hover:bg-red-600 transition duration-300"></button>
            </div>
        </div>
    </main>
</div>
