@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 1s ease-in-out;
}

.animate-slide-up {
    animation: slide-up 1s ease-in-out;
}

.icon-large {
    font-size: 40px;
}

@media (max-width: 768px) {
    .icon-large {
        font-size: 30px;
    }
}

.getstarted-bg {
    position: relative;
    z-index: 1;
}

.getstarted-bg::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background: linear-gradient(0deg, var(--background-100), transparent);
    z-index: -1;
}